.post {
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left : 30%;
    margin-right: 30%;
}
.post_user {
    display: flex;
    padding: 16px;
    align-items: center;
}
.post_userAvatar {
    width: 30px;
    height: 30px;
}
.post_userAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.post_userNickname {
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.post_image{
    background-color: white;
    margin: -10px 15px 15px 15px;
    text-align: center;
    overflow: hidden
}
.post_image img {
    display: block;
    width: 100%;
}
.post_like {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post_like h4{
    margin: 0px;
}
.post_like strong {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.comment_button {
    padding: 5px;
    border: none;
}


.comment_button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.post_commentBox{
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.posts_loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post_comments{
    margin: 0px 16px 5px 16px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.post_comment{
    margin: 0px 16px 5px 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.post_comment b{
    margin-right: 10px;
}

.post_caption{
    padding: 0px 16px;
    margin: 0px
}

.post_commentsBox{
    max-height: 10rem;
    margin-bottom: 10px;
    overflow-y:auto;
}