

.pictureModal_profileTop{
    display: flex;
    justify-content: space-between!important;
    margin: 10px;
    padding-bottom: 20px;
}

.pictureModal_stats{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 10px;
     font-size: large;
}

.pictureModal_loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pictureModal_popup{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    min-width: 50vw;
    max-width: 80vw;
    display: flex;
}

.pictureModal_picture{
    text-align: center;
}

.pictureModal_comment{
    width: 30vw;
    word-wrap: break-word;
    margin-left: 10px;
  }
  
.pictureModal_comment b{
    margin-right: 10px;
}
  .pictureModal_commentsScroll{
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 75vh;
  }

  .pictureModal_caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pictureModal_commentBox{
    margin-top: 10px;
    display: flex;
}