.Profile_container{
    margin-top: 100px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    background-color: white;
    width: 50%;
}

.Profile_top{
    display: flex;
    justify-content: space-between!important;
    margin: 10px;
    padding-bottom: 20px;
}

.Profile_stats{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 10px;
     font-size: large;
}

.Profile_grid{
    width: 100%!important;
    height: 450px;
}

.Popup{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    min-width: 50vw;
    display: flex;
}

.Popup_picture{
    text-align: center;
}

.Profile_loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}